@import './../../_scss/variables/variables';

.personalInfo {
  .name {
    text-align: center;
    margin-bottom: $spacing-small;
  }

  .contact {
    display: flex;
    justify-content: space-around;
    margin-bottom: $spacing-small;
  }

  .goals {
    text-align: center;
    font-size: $fs-small;
    margin-bottom: $spacing-small;
  }
}
