@import './../../_scss/variables/variables';

.experiences {
  h3 {
    font-weight: $medium-weight;
    border-bottom: 1px solid $grey;
    margin-bottom: $spacing-small;
    padding-bottom: $spacing-tiny;
  }
}
