/**
 * @Colors
 */
$white: #fff;
$grey: #2c3e50;

/**
 * @Font-weight
 */
$light-weight: 300;
$medium-weight: 500;
$bold-weight: 600;

/**
 * @Font-size
 */
 $fs-small: 14px;

/**
 * @Spacing
 */
$spacing-tiny: 3px;
$spacing-smallest: 5px;
$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-medium-2: 20px;
$spacing-large: 30px;
$spacing-xl: 35px;
